
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhoS</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/Home/client.css" />
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/Home/sub2.js"></script>
</head>
<body>
    <header id="header" class="height">
        <button class="tablink">예약하기</button>
        <button class="tablink active">예약 현황</button>
    </header>
    <div id="contents2">
        <div class="sub2" data-ng-app="myApp" data-ng-controller="sub2">
            <br>
            <input type="text" class="filter" placeholder="물품명을 검색해 주세요." data-ng-model="filter.pName">
            <ul class="head">
                <li>
                    <div>물품명</div>
                    <div>중량</div>
                    <div>입고일</div>
                    <div>출고일</div>
                    <div>발행번호</div>
                    <div>비고</div>
                </li>
            </ul>
            <ul class="list" >
                <li data-ng-repeat="row in data | filter:filter">
                    <div class="text_center">{{row.pName}}</div>
                    <div>{{row.pWeight}}</div>
                    <div>{{row.EnterDate}}</div>
                    <div>{{row.OutDate}}</div>
                    <div>{{row.regDate}}</div>
                    <div>{{row.pNum}}</div>
                    <div>{{row.text}}</div>
                    <br><hr>
                </li>
            </ul>
        </div>
    </div>
    <footer id="footer" class="height2">
        <font color="white">&nbsp;Copyright 2019. JeongInHye All rights reserved.</font>
    </footer>
</body>
</html>

